.panel{
    padding:30px;
    border-color: #ccc;
    border-style: solid;
    border-width: 1px;
    border-radius: 8px;
    background:whitesmoke;
    box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.2);
}

div.heading{
    font-family: Sans-serif;
    font-size:24px;
    margin: 20px;
}

div.sub-heading{
    font-family: Sans-serif;
    font-size:18px;
    margin:16px 24px 10px;
}

hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

.req-item{
    width:130px;
    height:160px;
    margin-top:10px;
    margin-left:20px;
    margin-right:20px;
    border-radius:8px;
    float:left;
    cursor: pointer;
    text-align: center;
}

.req-item:hover{
    background-color: #eeeeee;

    transition: background-color 1s;
}

.req-icon{
    font-size: 60px;
}

.req-name{
    font-family: Sans-serif;
    font-size:12px;
    text-align: center;
}

.req-button{
    width: 25px;
    height:25px;
    border-radius: 4px;
    margin-left:10px;
    margin-right: 10px;
    vertical-align: center;
    display: inline-block;
    text-align: center;
}

.req-button:hover{
    background-color: #cccccc;
    transition: background-color 0.5s;
}

.req-toolbar{
    margin-top: 10px;
    float: bottom;
    width: 130px;
    display: none;
}

